extends layout

block content
  div.container
    h1 asciilove
    h2 ascii art. made easy.
    p.lead ascii.love will help you create awesome ascii art from your images. Hassle free

    div#upload Drop image to enjoy ascii art awesomeness!
