extends layout

block content
  div.container-fluid.full-height
    div.row.full-height
      div.col-md-6.full-height
        div#hero

          h1 ascii.love  
            i.fa.fa-heart.logo

          p.lead Create fancy ASCII art from your images. Hassle free.
          button#get-started.btn.btn-danger.btn-lg Upload new image

      div.col-md-6.full-height
        div#upload

          p
            i.fa.fa-cloud-upload.big-icon
            <br>Drop image here to enjoy ascii art awesomeness!

          textarea(rows=40, cols=87, readonly)
