doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,800|Source+Code+Pro')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(src='javascript/jquery-2.1.4.min.js')
    script(src='javascript/dropzone.js')
    script(src='javascript/load.js')
  body
    block content
