body {
  font: 18px Helvetica, Arial, sans-serif;
  background-color: #E74C3C;
}

a {
  color: #00B7FF;
}

#hero {
  background-color: #E74C3C;
  padding: 50px;
  margin: 0;
  height: 100%;

  h1, h2, h3, h4 {
    color: #ECF0F1;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  h1 {
    font-size: 4em;
  }
}
